<h1>Transaction</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Flow</th>
      <th>Quantity</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @stock.each do |stock| %>
      <tr>
        <td><%= stock.item.try(:number) %></td>
        <td><%= stock.flow %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>