<h1>New warehouse</h1>

<%= form_for :warehouse, url: warehouses_path, data: { turbo: false } do |f| %>
	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.submit 'Create warehouse' %>
	</p>

<% end %>